.cvCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 100%;
    padding: 1rem;
    margin: 1rem;
    margin-top: 2rem;
    border-radius: 1rem;
    background-color: var(--color-primary);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
    transition: transform 0.5s ease;
}

.cvCard p {
    color: rgba(177, 177, 177, 0.699);

}

.cvCard:hover p {
    color: rgb(255, 255, 255);
}

.cvCard:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1rem rgb(0, 238, 255);
}

.cvCard:hover h3 {
    color: rgb(0, 238, 255);
}

.cvMainDiv {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-primary);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(2, 65, 70, 0.9);
}

.cvMainDiv h2 {
    color: rgb(0, 238, 255);
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Popins-Bold', sans-serif;
    font-weight: 700;
}

.cvLoadingSpinner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    width: 250px;
    height: 250px;
    background-color: var(--color-primary);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.9);
}

.cvLoadingSpinner h2 {
    text-align: center;
    color: rgb(0, 238, 255);
    margin-bottom: 2rem;
}

.cvCardTechStackDiv p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: rgb(0, 238, 255);
    color: rgb(0, 0, 0);
}

.cvCardTechStackDiv {
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

}

.cvCard:hover .cvCardTechStackDiv p {
    color: black;
    font-weight: 900;
    transform: scale(1.05);
    box-shadow: 0 0 1rem rgb(0, 255, 255);
}

.cvCard .cvCardTechStackDiv p {
    color: rgb(48, 47, 47);
}

@media (max-width: 850px) {
    .cvCard .cvCardTechStackDiv p {
        color: black;
        font-weight: 900;
    }

    .cvCard p {
        color: rgb(255, 255, 255);
    }
    
    .cvCard {
        box-shadow: 0 0 1rem rgb(0, 238, 255);
    }
    
    .cvCard h3 {
        color: rgb(0, 238, 255);
    }
}